.nav-link:hover {
  transform: translateY(-1px);
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Navbar.css */

/* Cuando el menú hamburguesa está abierto */
@media (max-width: 991.98px) { 
  #mainNav .navbar-nav {
    display: flex;
    flex-direction: column; /* Vertical */
  }

  /* Primer item al final inmediatamente */
  #mainNav .navbar-nav .nav-item:first-child {
    order: 999;
  }
}

